@import 'src/styles/variable.scss';
@import 'src/styles/mixin.scss';

.write-container {
  display: flex;
  margin-bottom: 32px;
  .profileThumb {
    margin-right: 24px;
  }
  .userContainer {
    display: flex;
    flex-direction: column;
    .nickname {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 8px;
    }
    .content {
      width: 456px;
      height: 70vh;
      border: 1px solid $theme-gray-normal;
      border-radius: 6px;
      resize: none;
      padding: 15px;
      &:focus {
        outline: none;
      }
    }
  }
}
