@import 'src/styles/variable.scss';
@import 'src/styles/mixin.scss';

.register {
  width: 512px;

  input,
  select {
    padding: 0 16px;
    margin: 10px 0;
  }

  option {
    background-color: $theme-white;
  }

  .label {
    display: inline;
  }

  .labelOptions {
    display: flex;
    justify-content: space-between;
    p {
      color: $theme-gray-strong;
      margin: 0;
      font-size: 12px;
    }
    .label {
      color: $theme-black;
      font-size: 16px;
    }
    .required {
      color: $theme-red;
    }
  }
  .pageTitleInfo {
    display: inline-block;
    padding: 6px 0;
    h1 {
      font-size: 24px;
      font-weight: 800;
    }
  }

  .emailInfo {
    input {
      display: block;
      width: 100%;
    }
  }

  .phoneNumberInfo {
    .phoneFront {
      width: 170px;
      display: inline-block;
      margin-right: 8px;
      z-index: 1;
    }
    .phoneNumber {
      display: flex;
      justify-content: stretch;
    }
  }
  .birthdayInfo {
    .birthdaySelect {
      height: 86px;
      .birthDate {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .submitContainer {
    padding-bottom: 40px;
  }

  [class$='Info'] {
    margin-bottom: 24px;
  }
}
