@import 'src/styles/variable.scss';
@import 'src/styles/mixin.scss';

body {
  min-height: 80vh;
  @include flexCenter;
}

.root {
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: 'Apple SD Gothic Neo', Pretendard, 'Noto Sans KR';
  word-wrap: break-word;
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
  color: $theme-black;
}

.container {
  min-width: 512px;
}

.required {
  color: $theme-red;
}

a {
  text-decoration: none;
}
