@import 'src/styles/variable.scss';
@import 'src/styles/mixin.scss';

* {
  box-sizing: border-box;
  font-family: 'Apple SD Gothic Neo', Pretendard, 'Noto Sans KR';
  word-wrap: break-word;
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
  color: $theme-black;
}

.container {
  width: 576px;
  height: 100vh;
}

input,
select {
  width: 100%;
  height: 50px;
  border: 1px solid $theme-gray-light;
  border-radius: 6px;
  font-size: 16px;
  color: $theme-black;
}

input:focus {
  outline: none;
  border: 1px solid $theme-black;
}

input::placeholder {
  color: $theme-gray-strong;
}

.btn {
  margin: 16px 0;
  width: 100%;
  height: 56px;
  color: $theme-white;
  border: none;
  border-radius: 6px;
  background-color: $theme-blue;
  font-weight: 800;
  font-size: 18px;
  &:hover {
    cursor: pointer;
  }
  &[disabled] {
    background-color: $theme-gray-strong;
    cursor: default;
  }
}
