$theme-light-gray-background: #fafafa;
$theme-blue: #2d71f7;
$theme-navy: #083e7f;
$theme-gray-strong: #999;
$theme-gray-normal: #ccc;
$theme-gray-light: #e0e0e0;
$theme-white: #fff;
$theme-black: #000;
$theme-red: #ff3636;
