$theme-background: #f6f4f1;
$theme-light-gray-background: #faf9f8;
$theme-blue: #2d71f7;
$theme-gray-strong: #888888;
$theme-gray-normal: #cccccc;
$theme-gray-light: #eeeeee;
$theme-white: #fff;
$theme-black: #1c1c1e;
$theme-red: #ff0000;
