@import 'src/styles/variable.scss';
@import 'src/styles/mixin.scss';

.comments {
  width: 512px;
  .commentList {
    .writerDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 24px 0;
      padding: 0 8px;
      .userContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .profileThumb {
          width: 32px;
          height: 32px;
        }
        .contentContainer {
          margin-left: 24px;
          position: relative;
          top: 3px;
          .nickname {
            font-weight: 700;
          }
          .content {
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 5px;
          }
        }
      }
      .editContainer {
        display: flex;
        * {
          margin: 0 5px;
        }
        .createdTime {
          color: $theme-gray-strong;
        }
      }
    }
  }
}
