@import 'src/styles/mixin.scss';

.main {
  @include flexCenter;
  height: 80vh;
  margin-top: 40px;
  .postList {
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .postContainer {
      margin: 0 24px;
      height: 100%;
      .post {
        margin-bottom: 24px;
      }
    }
  }
  .footer {
    position: fixed;
    bottom: 20px;
    right: 20%;
    .writeContainer {
      .writeBtn {
        text-align: center;
        .btn {
          display: block;
          padding: 20px;
          width: 120px;
          height: 56px;
        }
      }
    }
  }
}
