@import 'src/styles/variable.scss';
@import 'src/styles/mixin.scss';

.post {
  width: 512px;
  .postList {
    padding: 24px 8px;
    border-bottom: 1px solid $theme-gray-light;
    .writerDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .userContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nickname {
          margin-left: 16px;
          font-size: 20px;
          font-weight: 700;
        }
      }
      .editContainer {
        display: flex;
        * {
          margin-left: 16px;
        }
        .createdTime {
          color: $theme-gray-strong;
        }
        .postDelete {
          color: $theme-red;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .contentContainer {
    margin: 16px 0;
    max-height: 112px;
    .content {
      font-size: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .replyArea {
    .replyCount {
      color: $theme-gray-strong;
    }
  }
}
